body{
    margin: 0 auto;
    max-width: 1240px;
    background-color: #fafafa;
}

.general_nav{
    display: flex;
    align-items: center;
    background-color: #fafafa;
}

#main_nav button{
    color: grey;
    border: 1px solid #7bb57c;
    border-radius: 0.3vw;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

#main_nav button:hover{
    background-color: #7bb57c;
    color: white;
}


nav{
    display: flex;
}

.logo{
    margin-right: 250px;
}

img{

	width:200px;
	height:100px; 
}

.img_product img{
	width: 365px;
	height:240px;
}

.block{
	padding-top: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pointer{
	width: 20px;
	height:10px;
}


header .banner{
    background-image:url(../img/bac_main.png);
    min-height: 750px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
} 

#menu{
    width: 100%;
    height: 4.16vmax;
}

nav li {
	list-style: none;

}

nav a {
    text-decoration: none;
    color:#333;
    font-size: 16px;
}


#main_nav,
#main_nav li,
#main_nav a {
	display: flex;
	flex-flow: row nowrap;
	height: inherit;
	align-items: center;
	justify-content: right;
}

#main_nav a {
	padding: 0 1vmax;
}
#main_nav a:hover{
    color: #7bb57c;
}

.w-text-block{
    display: block;
    width: 570px;
    height: 184;
    font-size: 84px;
    font-weight: 700;
}

.text-ui-brand-color{
    color: #7bb57c;
}
.text-ui-dark-shade-color{
    color: #333;
}

.banner{
    padding: 0;
    justify-content: left;
}

.banner p{
    color: #333;
    font-size: 20px;
}

.banner button{
    color: white;
    border: 1px solid #7bb57c;
    border-radius: 0.3vw;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    background-color: #7bb57c;
    width: 220px;
}

.banner button:hover{
    background-color: #333;
}

.info{
    display: flex;
    flex-direction: column;
}

.info a{
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.sale, .new{
    color: #7bb57c;

}

.info_text{
    font-size: 25px;
    font-weight: 500;
    color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
}

.selling{
    justify-content: center;
    align-items: center;
}

.selling .text-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    font-size: 84px;
    font-weight: 700;
}

.text_{
    align-items: center;
    justify-content: center;
}

.best{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.high{
    font-size: 38px;
    font-weight: bold;
    color: #333;
}

.low{
    font-size: 18px;
    color: #333;
    padding-top: 30px;
    padding-bottom: 30px;
}

.betwen{
    color: #333;
}

.best-selling{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.spring-coll{
    padding-top: 60px;
    background-image:url(../img/bacgroung-img\ 2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 650px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.spring-coll button{
    color: white;
    border: 1px solid #7bb57c;
    border-radius: 0.3vw;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    background-color: #7bb57c;
    width: 220px;
}

.spring-coll button:hover{
background-color: #333;
}

.spring-coll p{
    color: #333;
    font-size: 20px;
    width: 600px;
}

.mini-cards{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.mini1{
   background-image: url(../img/mini1bac.png);
   background-position-x: 10%;
   background-position-y: 45%;
   background-size: cover;
   width: 570px;
   height: 366px;
   
}

.mini2{
   background-image: url(../img/mini2bac.png);
   background-position-x: 10%;
   background-position-y: 45%;
   background-size: cover;
   width: 570px;
   height: 366px;
   
}

.content_text_import{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    padding-top: 60px;
}

.content_text_import_gen{
    display: block;
    width: 350px;
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.content_text{
    display: block;
    font-size: 16px;
    font-weight: 400;
    color:gray;
}

.content_text_import,
.content_text_import_gen,
.content_text{
    padding-left: 40px;
}

.butt button{
    margin-left: 40px;
    color: white;
    border: 1px solid #7bb57c;
    border-radius: 0.3vw;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    background-color: #7bb57c;
}

.butt button:hover{
    background-color: #333;
}

.mini2 .content_text_import{
    color: rgb(169, 169, 169);
}

.mini2 .content_text_import_gen{
    color: #ffff;
    width: 400px;
}

.mini2 .content_text{
    color: white;
}
.products h2{
    color: rgb(51, 51, 51);
    font-size: 38px;
}

.products p{
    color: #333;
    font-size: 20px;
}

.armchairs,
.lamps,
.tables{
    display: flex;
    justify-content: space-between;
}

.img_product_second img{
    width: 250px;
    height: 290px;
}

.product_conteiner{
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.price{
    padding-bottom: 20px;
    color: #7bb57c;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.price:hover{
    color: #7bb57c;
}

.best-selling button{
    color: white;
    border: 1px solid #7bb57c;
    border-radius: 0.3vw;
    background-color: #7bb57c;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

.best-selling button:hover{
    background-color: #333;
}
.tables button{
    color: grey;
    border: 1px solid #7bb57c;
    border-radius: 0.3vw;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
}

.lamps button{
    color: grey;
    border: 1px solid #7bb57c;
    border-radius: 0.3vw;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
}

.armchairs button{
    color: grey;
    border: 1px solid #7bb57c;
    border-radius: 0.3vw;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
}



.main_brand{
    display: flex;
}

.top_brand_1{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    background-color: #fafafa;

}
.top_product_image1 img{
    width: 600px;
    height: 400px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.top_brand_1 .content_text_import_gen{
    font-weight: bold;
    font-size: 26px;
    padding-top: 10px;
    color: #333;

}

.top_brand_1 button{
    color: grey;
    border: 1px solid #7bb57c;
    border-radius: 0.3vw;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    background-color: white;
    width: 180px;
    margin-left: 40px;
    margin-top: 20px;
}

.top_brand_1 button:hover{
    background-color: #7bb57c;
    color: white;
}

.top_product_image2 img{
    width: 600px;
    height: 400px;
    margin-top: 0;
    padding-top: 0;
}

.bestseller-card{
    display: flex;
}
#shop-tab{
    width: 100%;
}
.box{
    display: flex;   
}
.tab-content{
    display: flex;
}


.bestseller-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#armchairs{
   
    width: 100%;
}


.bestseller-list #lamps{
    width: 100%;
}

#lamps .product_conteiner{
    padding-right: 80px;
}

#tables .product_conteiner{
    padding-right: 80px;
}

.bestseller-list button{
    color: grey;
    border: 2px solid #7bb57c;
    border-radius: 0.3vw;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

.bestseller-list button:hover{
    background-color: #7bb57c;
    color: white;
}

.nav-item{
    font-size: 18px;
}

.nav-link:hover{
    color: black;
}

.nav-link .active{
    color: black;
}

.nav-link{
    color: grey;
}


/* Shop-cart */
#enscart_my_wrapper {
    text-align: center;
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 1140;
}
  #enscart_myimage_wrapper {
    background: #ffffff;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.4);
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    z-index: 1140;
}
  #enscart_my_wrapper img {
    height: 80%;
    width: auto;
    padding-top: 8px;
}
  #enscart_my_counter_wrapper {
    cursor: pointer;
    min-width: 30px;
    height: 30px;
    background-color: #d62240;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    right: -5px;
    top: -5px;
    text-align: center;
    line-height: 30px;
    font-family: Arial,sans-serif;
    margin: 0px 3px;
    z-index: 1150;
}
#easynetshop-cart {
    border: none;
    background-color: transparent;
}